body{
    background-color: #F5F8FF;
    font-family: Arial, sans-serif;
}
/* heading css */
.header{
    background-image: url('../images/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner{
    font-size: 30px;
    height: 700px;
}

.banner-content{
    display: flex;
    flex-direction: column;
}

/* action css */
.action{
    background-color: #F5F8FF;
    
}

.action-content{
    display: flex;
    padding-left: 50px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.action-img{
    border-radius: 50px;
}

.action-p{
    margin-bottom: 50px;
    color: gray;
    font-size: larger;
}

/* user css */

.user-content{
    background-color: #e0e8fc;
    border-radius: 50px;
}
.user-item{
    display: flex;
    justify-content: space-around;
    padding: 30px 75px;
    

}
.user-section-heading{
    text-align: center;
    font-size: 54px;
    padding-top: 50px;
    line-height: 0px;
}
.user-heading{
    font: bolder;
    font-size: 70px;
    line-height: 0px;
    color: royalblue;
}

/* review css */
.review-content{
    display: flex;
    justify-content: space-around;
}
.review-item{
    width: 300px;
    background-color: rgb(246, 235, 235);
    padding: 30px;
    border-radius: 20px;
}
.user-info{
    color: gray;
    font-weight: 500;

}
.star{
    display: flex;
    gap: 10px;
}
.review-end{
    display: flex;
}
.review-end>img{
    border-radius: 50% ;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.review-end>div{
    line-height: 4px;
}
.star>i{
    color: orange;
}
.card-heading{
    font-size: 28px;
}

.card-text{
    color: gray;
}


/* form css */
.input-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    padding: 50px;
}

.input-container>input{
    padding: 15px;
    border-radius: 7px;
}
.input-container>textarea{
    padding: 15px;
    border-radius: 7px;
}

.form-content{
    display: flex;
}
.form-heading{
    font-size: 70px;
}

/* footer css */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-link{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-link>a{
    text-decoration: none;
    color: gray;

}



/* shared css */
.container{
    max-width: 1280px;
    margin: auto;
}
.btn{
    background-color: rgb(91, 126, 233);
    padding: 15px 40px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    border: none;
    height: 46px;
}

.btn-animation:hover{
    background-color: rgb(18, 73, 238);
    text-decoration: underline;
    font-weight: 700;
}

.half{
    width: 50%;
}

.heading{
    font-size: 40px;
    font-weight: bold;
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;

}

.text-center{
    text-align: center;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.section-margin{
    margin: 180px 0px;
}

.gray{
    color: gray;
    padding: 20px 0;
}
.padding-tb{
    padding: 50px 0px;
}

.logo{
    font-size: 36px;
    color: royalblue;
    font-weight: bolder;
    line-height: 2px;
}
